<div>

Gold: <%=$bal %>
<%=form_for @test, url:check_path(@test.id), method: :post do |f|%>
	<div class="progress">
  		<div class="progress-bar" role="progressbar" style="width: <%= $i %>%;" aria-valuenow="	85" aria-valuemin="0" aria-valuemax="100"><%= $i %>% 
  		</div>
	</div><br/>
	<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-1">
		<h3 style="text-align: right;"><%=f.label @test.id%>)</h3> 
	</div>
		<div class="col-md-6" >
				<div align="left" style="text-align: justify;">
					<h3>  <%= sanitize @test.title%></h3>
				</div>
		<small>
			<time><%= f.label @test.created_at.to_date.strftime("%d %B, %Y") %></time>
		</small>
		</div>
	<div class="col-md-3">
	</div>
	</div>	
	<div class="row" style="text-align: center;">
		<div class="col-md-4"><!--
			<%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
		--></div>
		<div class="col-md-4">
		<div class="row">
			
			<div class="col-md-4">
			</div>
			<div class="col-md-8" style="text-align: left;">
				<%@answers.each do |p|%>
					<%= check_box_tag 'answer_ids[]', p.id %>
					<%=f.label p.version %>
					<br/>
				<%end%>
			</div>

		</div>
		</div>

		<div class="col-md-4">
			<%= f.submit "Відповісти",  class:"btn btn-danger" %>
		</div>
	</div>
	<%end%>	
</div>
<nav aria-label="Page navigation example">
  	<ul class="pagination justify-content-center"">
  		<%Test.all.each do |test|%>
  			<%if test.id==@test.id%>
  			<li class="page-item disabled"><%= link_to test.id, test_path(test.id) , class:"page-link" %></li>
  			<%else%>
  			<li class="page-item"><%= link_to test.id, test_path(test.id), class:"page-link" %></li>
  			<%end%>
  		<%end%>
  	</ul>
</nav>
